<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bournemouth.darwin.auth"
    android:versionCode="3"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <service android:name="DarwinAuthenticatorService" android:exported="true" android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:resource="@xml/authenticator" android:name="android.accounts.AccountAuthenticator"/>
        </service>
        <activity android:icon="@drawable/ic_launcher" android:label="@string/authenticator_activity_label" android:name="DarwinAuthenticatorActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:exported="true">
        </activity>
        <activity android:icon="@drawable/ic_launcher" android:label="@string/authenticator_activity_label" android:name="AccountInfoActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        
    </application>

</manifest>
