<!--
  ~ Copyright (c) 2016.
  ~
  ~ This file is part of ProcessManager.
  ~
  ~ ProcessManager is free software: you can redistribute it and/or modify it under the terms of version 2.1 of the
  ~ GNU Lesser General Public License as published by the Free Software Foundation.
  ~
  ~ ProcessManager is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with Foobar.  If not,
  ~ see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="uk.ac.bournemouth.darwin.auth" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:allowBackup="false"
            android:fullBackupContent="false"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <service
            android:name="DarwinAuthenticatorService" android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <receiver
                android:name=".UninstallReceiver"
                android:priority="999"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="DarwinAuthenticatorActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/authenticator_activity_label"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:excludeFromRecents="true" >
        </activity>
        <activity
            android:name="AccountInfoActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/authenticator_activity_label" >
        </activity>
        <activity android:name=".AuthTokenPermissionActivity"
                  android:icon="@mipmap/ic_launcher"
                  android:label="Permission for Darwin"
                  android:exported="true"
                  android:excludeFromRecents="true" />
    </application>

</manifest>
